.container {
  width: 80vw;
  float: right;
  color: #0A8270;
}
.heading {
  text-align: center;
  margin: 1em;
}
.form {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.dp {
  border-radius: 50%;
}
.group {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 0.5em;
  width: 20em;
}
label {
  font-weight: bold;
}
.button {
  margin: 2em;
  width: 7em;
  /* height: 3em; */
  font-size: x-large;
}